---
import Layout from '../layouts/Layout.astro'
---

<Layout title="eoss - Kontakt" description="Ihre Daten sind Ihr Recht.">
    <main class="px-4">
        <privacybee-widget
            website-id="cllusz5rb6414820xbe853zmvr"
            type="dsg"
            lang="de"></privacybee-widget>
    </main>
</Layout>

<script src="https://www.privacybee.io/widget.js" defer></script>
